# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environment
.venv/

# Django
*.log
db.sqlite3
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/

# Django media/uploads
media/

# Test / coverage
.coverage
htmlcov/
.pytest_cache/